body {
  padding: 0px;
  background-color:#f9f6f4;
  color:#4f2412;
}

div.cachecontainer {
  width:500px;
  margin-bottom:3px;
  background-color:#e9e0db;
  border:1px solid #c9a798;
}

div.buttoncontainer {
  width:500px;
}

div.location {
  text-align:right;
}

div.button-clear {
  text-align:right;
}

div.id {
  font-weight:bold;
}
div.location {
  color:#0e0e0e;
}

div.emptymessage {
  width:500px;
  text-align:center;
}
